<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/70e97676-b8ec-43e0-90ee-4939c9906fc2/resourceGroups/POSwebApi20240702144034ResourceGroup/providers/Microsoft.Web/sites/POSwebApi20240702144034</ResourceId>
    <ResourceGroup>POSwebApi20240702144034ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/70e97676-b8ec-43e0-90ee-4939c9906fc2/resourceGroups/POSwebApi20240702144034ResourceGroup/providers/Microsoft.ApiManagement/service/POSwebApiapi/apis/POSwebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://poswebapi20240702144034.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f527e823-5c97-4c81-a426-b634ed3acb88</ProjectGuid>
    <MSDeployServiceURL>poswebapi20240702144034.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>POSwebApi20240702144034</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$POSwebApi20240702144034</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>